<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    
    <title>@ViewBag.Title</title>
</head>
<body class="m-1 p-1">
    <div class="bg-dark p-2 "><h4 class="text-light">@ViewBag.Title</h4></div>
    @RenderBody()    
</body>
</html>
