@model Product 

@{ 
    ViewBag.Title = "Edycja produktu";
    Layout = "_AdminLayout";
}

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name">Produkt</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description">Opis</label>
        <input asp-for="Description" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Category.Name">Kategoria</label>
        <input asp-for="Category.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Price">Cena</label>
        <input asp-for="Price" class="form-control" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Zapisz</button>
        <button asp-action="Index" class="btn btn-secondary" type="submit">Anuluj</button>
    </div>
</form>
